---
---

@import "{{ site.theme }}";

body {
    background-color: rgb(24, 26, 27);
    color: rgb(160, 152, 139);
}

strong {
    color: rgb(211, 207, 201);
  }

  h1, h2, h3, h4, h5, h6 {
    color: rgb(211, 207, 201);
  }

  a {
    color: rgb(83, 163, 220);
    text-decoration-color: currentcolor;
  }